<template>
    <card :title="$t('add_person')">
        <form @submit.prevent="update" @keydown="form.onKeydown($event)">
            <alert-success :form="form" :message="$t('person_created')" />

            <div class="row">
                <div class="col-md-12">

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">First Name</label>
                        <div class="col-md-7">
                            <input v-model="form.first_name" :class="{ 'is-invalid': form.errors.has('first_name') }" class="form-control" type="text" name="first_name">
                            <has-error :form="form" field="first_name" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">Last Name</label>
                        <div class="col-md-7">
                            <input v-model="form.last_name" :class="{ 'is-invalid': form.errors.has('last_name') }" class="form-control" type="text" name="last_name">
                            <has-error :form="form" field="last_name" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">Gender</label>
                        <div class="col-md-7">
                            <select v-model="form.gender" :class="{ 'is-invalid': form.errors.has('gender') }" class="form-control">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                            <has-error :form="form" field="gender" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">Age</label>
                        <div class="col-md-7">
                            <input v-model="form.age" :class="{ 'is-invalid': form.errors.has('age') }" class="form-control" type="number" name="age">
                            <has-error :form="form" field="age" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">Phone</label>
                        <div class="col-md-7">
                            <input v-model="form.phone" :class="{ 'is-invalid': form.errors.has('phone') }" class="form-control" type="number" name="phone">
                            <has-error :form="form" field="phone" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">Address</label>
                        <div class="col-md-7">
                            <input v-model="form.address" :class="{ 'is-invalid': form.errors.has('address') }" class="form-control" type="text" name="address">
                            <has-error :form="form" field="address" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">Organizations</label>
                        <div class="col-md-7">
                            <multiselect 
                                v-model="organizations" 
                                tag-placeholder="Select Organization" 
                                placeholder="Search Organization" 
                                label="name" 
                                track-by="id" 
                                tag-position="bottom"
                                :options="options" 
                                :multiple="true" 
                                :taggable="true" 
                                :class="{ 'is-invalid': form.errors.has('organizations') }"
                                @tag="addTag"></multiselect>
                            <has-error :form="form" field="organizations" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-9 ml-md-auto">
                            <v-button :loading="form.busy" type="success">
                                {{ $t('add_person') }}
                            </v-button>
                        </div>
                    </div>    

                </div>
            </div>

        </form>
    </card>
</template>

<script>
import Form from 'vform'
import Multiselect from 'vue-multiselect'
import axios from 'axios'

export default {
    scrollToTop: false,
    components: { Multiselect },
    metaInfo () {
        return { title: this.$t('add_person') }
    },
    mounted(){
        this.getOrgs();
    },
    data: () => ({
        form: new Form({
            first_name:'',
            last_name:'',
            gender:'',
            age:'',
            phone:'',
            address:'',
            organizations: [],
        }),
        organizations: [],
        options:[]
    }),

    methods: {
        addTag(org) {
            const tag = {
                name: org.name,
                id: org.id
            }
            this.options.push(tag)
            this.form.organizations.push(org.id)
        },
        getOrgs()
        {
            axios.get('/api/getorgs')
            .then(response => {
                response.data.forEach(el => {
                    this.options.push({id: el.id,name: el.name});
                });
            });
        },
        async update () {
            var ids = [];
            this.organizations.forEach(el => {ids.push(el.id);});
            this.form.organizations = ids;
            await this.form.post('/api/people')
                .then(({ data }) => { 
                    this.form.reset()
                })
                .catch(()=>{
                  console.log("Error...")
                })

        }
    }
}
</script>
