<template>
  <div>
      <card :title="'Personal Details'">
        <table class="table table-bordered">
          <tr>
            <td><b>First Name:</b> {{ details.first_name }}</td>
          </tr>
          <tr>
            <td><b>Last Name:</b> {{ details.last_name }}</td>
          </tr>
          <tr>
            <td><b>Gender:</b> {{ details.gender }}</td>
          </tr>
          <tr>
            <td><b>Age:</b> {{ details.age }}</td>
          </tr>
          <tr>
            <td><b>Phone:</b> {{ details.phone }}</td>
          </tr>
          <tr>
            <td><b>Address:</b> {{ details.address }}</td>
          </tr>
        </table>
      </card>
      <br>
      <card :title="'Organizations'">
        <div class="row">
          <div class="col-md-4 mb-5" align="center" v-for="item in details.organizations" :key="item.id">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Organization</h6>
                <p class="card-text">{{ item.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </card>
  </div>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'
import axios from 'axios'

export default {
  scrollToTop: false,

  metaInfo () {
    return { title: this.$t('details') }
  },

  data: () => ({
    details:{
      first_name:'',
      last_name:'',
      gender:'',
      age:'',
      phone:'',
      address:'',
      organizations: [],
    }
  }),

  computed: mapGetters({
    user: 'auth/user'
  }),

  created () {
    this.getDetails();
  },

  methods: {
    getDetails()
    {
      axios.get('/api/people/'+this.$route.params.id)
      .then(response => {
          console.log(response);
          this.details = response.data.data;
      });
    },
  }
}
</script>
