<template>
  <card :title="$t('people')">
    <div class="card-content">
        <router-link :to="{ name: 'people.create' }" class="btn btn-sm btn-info add-btn">
            Add Person
        </router-link>
        <div v-if="pulling">
            <div align="center">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
        <div v-else>
            <table v-if="hasData" class="table table-hover animated fadeIn">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Modify</th>
                    </tr> 
                </thead>
                <tbody>
                    <tr v-for="item in tabledata.data" :key="item.id">
                        <td>{{ item.first_name+' '+item.last_name }}</td>
                        <td>{{ item.gender }}</td>
                        <td>{{ item.age }}</td>
                        <td>{{ item.phone }}</td>
                        <td>{{ item.address }}</td>
                        <td>
                            <router-link :to="{ name: 'people.details', params:{id: item.id} }" class="btn btn-sm btn-info mb-1">
                                View Details 
                            </router-link>
                            <a href="#" @click="editPersonModal(item)" class="btn btn-sm btn-success mb-1">
                                Edit 
                            </a>
                            <a href="#" @click="deletePerson(item.id)" class="btn btn-sm btn-danger mb-1">
                                Delete 
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="alert alert-warning" role="alert" v-else>
                {{ $t('no_records') }}
            </div>
            <pagination :data="tabledata" @pagination-change-page="getResults"></pagination>
        </div>
    </div>

    <div class="modal fade" id="editPerson" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title" id="addNewLabel">Edit Person Details</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form @submit.prevent="updatePerson">
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="text-md-right">First Name</label>
                            <input v-model="form.first_name" :class="{ 'is-invalid': form.errors.has('first_name') }" class="form-control" type="text" name="first_name">
                            <has-error :form="form" field="first_name" />
                        </div>

                        <div class="form-group">
                            <label class="text-md-right">Last Name</label>
                            <input v-model="form.last_name" :class="{ 'is-invalid': form.errors.has('last_name') }" class="form-control" type="text" name="last_name">
                            <has-error :form="form" field="last_name" />
                        </div>

                        <div class="form-group">
                            <label class="text-md-right">Gender</label>
                        
                            <select v-model="form.gender" :class="{ 'is-invalid': form.errors.has('gender') }" class="form-control">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                            <has-error :form="form" field="gender" />
                            
                        </div>

                        <div class="form-group">
                            <label class="text-md-right">Age</label>
                            <input v-model="form.age" :class="{ 'is-invalid': form.errors.has('age') }" class="form-control" type="number" name="age">
                            <has-error :form="form" field="age" />
                        </div>

                        <div class="form-group">
                            <label class="text-md-right">Phone</label>
                            <input v-model="form.phone" :class="{ 'is-invalid': form.errors.has('phone') }" class="form-control" type="number" name="phone">
                            <has-error :form="form" field="phone" />
                        </div>

                        <div class="form-group">
                            <label class="text-md-right">Address</label>
                            <input v-model="form.address" :class="{ 'is-invalid': form.errors.has('address') }" class="form-control" type="text" name="address">
                            <has-error :form="form" field="address" />
                        </div>

                        <div class="form-group">
                            <label class="text-md-right">Organizations</label>
                            <multiselect 
                                v-model="organizations" 
                                tag-placeholder="Select Organization" 
                                placeholder="Search Organization" 
                                label="name" 
                                track-by="id" 
                                tag-position="bottom"
                                :options="options" 
                                :multiple="true" 
                                :taggable="true" 
                                :class="{ 'is-invalid': form.errors.has('organizations') }"
                                @tag="addTag"></multiselect>
                            <has-error :form="form" field="organizations" />
                        </div>
                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">{{ $t('update_person') }}</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
  </card>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'
import Swal from 'sweetalert2'
import axios from 'axios'
import $ from 'jquery'
import Multiselect from 'vue-multiselect'

export default {
  scrollToTop: false,
  components: { Multiselect },
  metaInfo () {
    return { title: this.$t('people') }
  },

  data: () => ({
    hasData: false,
    pulling: true,
    tabledata: {},
    form: new Form({
        id:'',
        first_name:'',
        last_name:'',
        gender:'',
        age:'',
        phone:'',
        address:'',
        organizations: [],
    }),
    organizations: [],
    options:[]
  }),

  computed: mapGetters({
    user: 'auth/user'
  }),

  created () {
    this.loadTableData()
    this.getOrgs()
  },

  methods: {
    addTag(org) {
        const tag = {
            name: org.name,
            id: org.id
        }
        this.options.push(tag)
        this.form.organizations.push(org.id)
    },
    getOrgs()
    {
        axios.get('/api/getorgs')
        .then(response => {
            response.data.forEach(el => {
                this.options.push({id: el.id,name: el.name});
            });
        });
    },
    loadTableData()
    {
        this.pulling = true;
        axios.get('/api/people')
        .then(({ data }) =>{ 
            this.tabledata = data.data;
            this.hasData = (data.data.data.length>0) ? true : false;
            this.pulling = false;
        })
        .catch(()=>{
            console.log("Error...")
        })
    },
    getResults(page = 1) {
        this.pulling = true;
        axios.get('/api/people?page=' + page)
        .then(response => {
            this.tabledata = response.data.data;
            this.pulling = false;
        });
    },
    editPersonModal(item){
        this.form.clear();
        this.form.reset();
        this.form.fill(item);
        this.organizations = [];
        item.organizations.forEach(el => {
            this.organizations.push({
                id: el.id,
                name: el.name,
            });
        });
        $('#editPerson').modal('show');
    },
    updatePerson(item){
        var ids = [];
        this.organizations.forEach(el => {ids.push(el.id);});
        this.form.organizations = ids;
        this.form.patch('/api/people/'+this.form.id)
        .then(response => {
            this.loadTableData();
            $('#editPerson').modal('hide');
            this.organizations = [];
        })
        .catch(()=>{
            console.log("Error.....")
        })
    },
    deletePerson(id){
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                    
            if (result.value) {
            
            this.form.delete('/api/people/'+id)
                .then((response)=> {
                        Swal.fire(
                            'Deleted!',
                            'Person deleted successfully',
                            'success'
                        )
                this.loadTableData();

                }).catch(() => {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                        footer: ''
                    })
                })
            }
        })
    }
  }
}
</script>
