<template>
  <div class="row">

    <div class="col-md-3 col-sm-3 col-xs-12">
      <card :title="$t('menu')" class="settings-card">
        <ul class="nav flex-column nav-pills">
          <li v-for="tab in tabs" :key="tab.route" class="nav-item">
            <router-link :to="{ name: tab.route }" class="nav-link" active-class="active">
              <fa :icon="tab.icon" fixed-width />
              {{ tab.name }}
            </router-link>
          </li>
        </ul>
      </card>
    </div>

    <div class="col-md-9 col-sm-9 col-xs-12">
      <card :title="$t('dashboard')">
        Welcome!
      </card>
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'auth',

  metaInfo () {
    return { title: this.$t('people') }
  },

  computed: {
    tabs () {
      return [
        {
          icon: 'user',
          name: this.$t('people'),
          route: 'people.list'
        },
        {
          icon: 'lock',
          name: this.$t('organizations'),
          route: 'organizations.list'
        }
      ]
    }
  }
}
</script>
