<template>
    <card :title="'Create Organization'">
        <form @submit.prevent="update" @keydown="form.onKeydown($event)">
            <alert-success :form="form" :message="'Organization successfully created.'" />

            <div class="row">
                <div class="col-md-12">

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">Name</label>
                        <div class="col-md-7">
                            <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name">
                            <has-error :form="form" field="name" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">Description</label>
                        <div class="col-md-7">
                            <textarea v-model="form.description" :class="{ 'is-invalid': form.errors.has('description') }" class="form-control" name="description"></textarea>
                            <has-error :form="form" field="description" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-9 ml-md-auto">
                            <v-button :loading="form.busy" type="success">
                                Create Organization
                            </v-button>
                        </div>
                    </div>    

                </div>
            </div>

        </form>
    </card>
</template>

<script>
import Form from 'vform'
import Multiselect from 'vue-multiselect'
import axios from 'axios'

export default {
    scrollToTop: false,
    components: { Multiselect },
    metaInfo () {
        return { title: 'Create Organization' }
    },
    mounted(){
        this.getOrgs();
    },
    data: () => ({
        form: new Form({
            name:'',
            description:'',
        }),
        organizations: [],
        options:[]
    }),

    methods: {
        addTag(org) {
            const tag = {
                name: org.name,
                id: org.id
            }
            this.options.push(tag)
            this.form.organizations.push(org.id)
        },
        getOrgs()
        {
            axios.get('/api/getorgs')
            .then(response => {
                response.data.forEach(el => {
                    this.options.push({id: el.id,name: el.name});
                });
            });
        },
        async update () {

            await this.form.post('/api/organizations')
                .then(({ data }) => { 
                    this.form.reset()
                })
                .catch(()=>{
                  console.log("Error...")
                })

        }
    }
}
</script>
