<template>
  <div>
    <card :title="'Organization Details'">
      <table class="table table-bordered">
        <tr>
          <td><b>Name:</b> {{ details.name }}</td>
        </tr>
        <tr>
          <td><b>Description:</b> {{ details.description }}</td>
        </tr>
      </table>
    </card>
    <br>
    <card :title="'Members'">
      <div class="row">
        <div class="col-md-4 mb-5" align="center" v-for="item in details.people" :key="item.id">
          <div class="card">
            <div class="card-body">
            <h5 class="card-title">{{ item.first_name+' '+item.last_name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ item.gender }} | {{ item.age }}</h6>
            <p class="card-text">{{ item.phone }}</p>
            <p class="card-text">{{ item.address }}</p>
            </div>
          </div>
        </div>
      </div>
    </card>
  </div>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'
import axios from 'axios'

export default {
  scrollToTop: false,

  metaInfo () {
    return { title: 'Organization Details' }
  },

  data: () => ({
    details:{
      name:'',
      description:'',
      people: [],
    }
  }),

  computed: mapGetters({
    user: 'auth/user'
  }),

  created () {
    this.getDetails();
  },

  methods: {
    getDetails()
    {
      axios.get('/api/organizations/'+this.$route.params.id)
      .then(response => {
          console.log(response);
          this.details = response.data.data;
      });
    },
  }
}
</script>
