<template>
  <card :title="'Organizations'">
    <div class="card-content">
        <router-link :to="{ name: 'organizations.create' }" class="btn btn-sm btn-info add-btn">
            Create Organization
        </router-link>
        <div v-if="pulling">
            <div align="center">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
        <div v-else>
            <table v-if="hasData" class="table table-hover animated fadeIn">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Modify</th>
                    </tr> 
                </thead>
                <tbody>
                    <tr v-for="item in tabledata.data" :key="item.id">
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td>
                            <router-link :to="{ name: 'organizations.details', params:{id: item.id} }" class="btn btn-sm btn-info mb-1">
                                View Details 
                            </router-link>
                            <a href="#" @click="editOrgModal(item)" class="btn btn-sm btn-success mb-1">
                                Edit 
                            </a>
                            <a href="#" @click="deleteOrg(item.id)" class="btn btn-sm btn-danger mb-1">
                                Delete 
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="alert alert-warning" role="alert" v-else>
                {{ $t('no_records') }}
            </div>
            <pagination :data="tabledata" @pagination-change-page="getResults"></pagination>
        </div>
    </div>

    <div class="modal fade" id="editOrg" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title" id="addNewLabel">Edit Organization</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form @submit.prevent="updateOrg">
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="text-md-right">Name</label>
                            <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name">
                            <has-error :form="form" field="name" />
                        </div>

                        <div class="form-group">
                            <label class="text-md-right">Description</label>
                            <textarea v-model="form.description" :class="{ 'is-invalid': form.errors.has('description') }" class="form-control" name="description"></textarea>
                            <has-error :form="form" field="description" />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update Organization</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
  </card>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'
import Swal from 'sweetalert2'
import axios from 'axios'
import $ from 'jquery'
import Multiselect from 'vue-multiselect'

export default {
  scrollToTop: false,
  components: { Multiselect },
  metaInfo () {
    return { title: 'Organizations' }
  },

  data: () => ({
    hasData: false,
    pulling: true,
    tabledata: {},
    form: new Form({
        id:'',
        name:'',
        description:'',
    }),
    organizations: [],
    options:[]
  }),

  computed: mapGetters({
    user: 'auth/user'
  }),

  created () {
    this.loadTableData()
  },

  methods: {
    addTag(org) {
        const tag = {
            name: org.name,
            id: org.id
        }
        this.options.push(tag)
        this.form.organizations.push(org.id)
    },
    getOrgs()
    {
        axios.get('/api/getorgs')
        .then(response => {
            response.data.forEach(el => {
                this.options.push({id: el.id,name: el.name});
            });
        });
    },
    loadTableData()
    {
        this.pulling = true;
        axios.get('/api/organizations')
        .then(({ data }) =>{ 
            this.tabledata = data.data;
            this.hasData = (data.data.data.length>0) ? true : false;
            this.pulling = false;
        })
        .catch(()=>{
            console.log("Error...")
        })
    },
    getResults(page = 1) {
        this.pulling = true;
        axios.get('/api/organizations?page=' + page)
        .then(response => {
            this.tabledata = response.data.data;
            this.pulling = false;
        });
    },
    editOrgModal(item){
        this.form.clear();
        this.form.reset();
        this.form.fill(item);
        $('#editOrg').modal('show');
    },
    updateOrg(item){
        this.form.patch('/api/organizations/'+this.form.id)
        .then(response => {
            this.loadTableData();
            $('#editOrg').modal('hide');
        })
        .catch(()=>{
            console.log("Error.....")
        })
    },
    deleteOrg(id){
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                    
            if (result.value) {
            
            this.form.delete('/api/organizations/'+id)
                .then((response)=> {
                        Swal.fire(
                            'Deleted!',
                            'Organization deleted successfully',
                            'success'
                        )
                this.loadTableData();

                }).catch(() => {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                        footer: ''
                    })
                })
            }
        })
    }
  }
}
</script>
